.localTest {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  width: 300px;
  border-radius: 26px;
  margin: 8px;
  height: 50px;
  background-color: orangered;
  font-size: 18px
}

.border {
  border: 2px solid rgba(207, 70, 6, 1);
}

:global {
  .global-class-name {
    color: green;
  }
}