.localTest {
  width: 300px;
  height: 100%;
  position: fixed;
  top:0;
  right: 0;
  padding:10px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
}

.border {
  border: 2px solid rgba(207, 70, 6, 1);
}
